@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.homeBox {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.homeHeader {
  padding: 0 1em;
  height: 12vh;
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;

  background-color: #C5CCDB;
  box-shadow: 1px 1px 10px black;
}

.headerButtons {
  width: 200px;
  height: 50px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 50px #b8cbcf;
}

.homeBody {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #E8EDF1;
}

#orderButton {
  font-size: 35px;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 80px #b8cbcf;
  background-color: #E8EDF1;
}

#orderButton:hover,
.headerButtons:hover,
.accountBtns:hover {
  background-color: #e1f5fa;
  cursor: pointer;
}

/* ----------USER LOGIN---------- */

header {
  background-color: #C5CCDB;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

.userLoginBox,
.productFormBox {
  width: 100%;
  height: 88vh;
  background-color: #E8EDF1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userLoginBody,
.productFormBody {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 1px 1px 50px #b8cbcf;
}

#userCpf,
#userPass,
#userLoginButton,
.register,
.productForm,
#selectUnity {
  width: 340px;
  height: 60px;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: 25px;
  border: none;
  box-shadow: 1px 1px 10px #b8cbcf;
  background-color: #E8EDF1;
}

#userLoginButton,
.register {
  background-color: #C5CCDB;
}

#userLoginButton:hover,
.register:hover {
  cursor: pointer;
  background-color: #E8EDF1;
}

/* ----------USER register---------- */

.userRegistBox {
  width: 100vw;
  height: 100vh;
  background-color: #C5CCDB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userRegistBody {
  width: 500px;
  height: 500px;
  background-color: #E8EDF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 1px 1px 50px #b8cbcf;
}

#registCpf,
#registName,
#registEmail,
#registPass,
#userRegistButton {
  width: 340px;
  height: 60px;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: 25px;
  border: none;
  box-shadow: 1px 1px 10px #b8cbcf;
  background-color: #E8EDF1;
}

#userLoginButton {
  background-color: #C5CCDB;
}

#userLoginButton:hover {
  cursor: pointer;
  background-color: #E8EDF1;
}


/*  ------DASHBOARD------*/
.navbarLinks {
  gap: 2em;
}

.accountBtns {
  font-size: 25px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 80px #b8cbcf;
  background-color: #E8EDF1;
}

.findProductForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----MEUS PEDIDOS */
#productsBody {
  display: flex;
  flex-direction: column;
  background-color: #E8EDF1;
}

.productsPage {
  width: 100%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.productList {
  margin-bottom: 2em;
  margin-top: 3em;
  width: 30vw;
  border-radius: 15px;

  line-height: 30px;

  box-shadow: 1px 1px 80px #b8cbcf;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.productList p {
  margin-left: 15px;
  margin-bottom: 10px;
}

.productList h2 {
  margin-left: 15px;
  margin-top: 10px;
}

/* ---------FAZER PEDIDO--------- */

.formOrderRequest {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 30vh;

  border-radius: 25px;
  box-shadow: 1px 1px 80px #b8cbcf;

  align-items: center;
  justify-content: center;
}

.formOrderRequest p {
  margin-bottom: 10px;
}

.formOrderRequest h2 {
  margin-bottom: 15px;
}

.orderRequest p {
  font-size: 20px;
}

.orderRequest h2 {
  font-size: 30px;
}

#makeOrderButton {
  width: 300px;
  height: 40px;
  border-radius: 7px;
  font-size: 25px;
  border: none;
  box-shadow: 1px 1px 10px #b8cbcf;
  background-color: #E8EDF1;
  margin-bottom: 10px;
}

#makeOrderButton:hover {
  background-color: #e1f5fa;
  cursor: pointer;
}

.quantity,
select {
  width: 300px;
  height: 35px;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: 25px;
  border: none;
  box-shadow: 1px 1px 10px #b8cbcf;
  background-color: #E8EDF1;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

/* ------------REGISTRO------------ */
#formRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 25px;
  box-shadow: 1px 1px 80px #b8cbcf;

  width: 30vw;
  height: 45vh;


  line-height: 30px;
}

#formRegister input,
#formRegister button {
  width: 300px;
  height: 35px;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: 25px;
  border: none;
  box-shadow: 1px 1px 10px #b8cbcf;
  background-color: #e8f0fe;
}

#formRegister button {
  background-color: #c5ccdb;
}

#formRegister button:hover {
  cursor: pointer;
  background-color: #e1f5fa;
}


/* Buscar produtos */

.findProductForm {
  height: 60px;
  gap: .5em;
}

#searchInput {
  width: 300px;

  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 80px #b8cbcf;

  font-size: 25px;
}

#searchButton {
  width: 120px;

  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 80px #b8cbcf;

  font-weight: bold;
}

#searchButton:hover {
  background-color: #e1f5fa;
  cursor: pointer;
}

/* Pedidos */
#accept {
  text-decoration: underline;
  color: #86999e;
}

/* FLash messages */
.alert {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}