<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Dashbord</title>
</head>
<body>

  <header class="homeHeader">
    <nav>
      <ul class="navbarLinks">
        <li><a href="/"><button class="headerButtons">Home</button></a></li>
        <li><a href="/clientes/logout"><button class="headerButtons">Logout</button></a></li>
      </ul>
    </nav>
  </header>
  <main class="homeBody">
    <a href="/clientes/edit"><input type="button" value="Configurações" class="accountBtns"></a>
    <a href="/orders/myOrders"><input id="orderButton" type="button" value="Meus Pedidos"></a>
  </main>

</body>
</html>