<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <title>Home</title>
</head>
<body class="homeBox">
  <header class="homeHeader">
    <nav>
      <ul class="navbarLinks">

        <% if(!comissionaireId) { %>
          <li><a href="/comissionaires/login"><input class="headerButtons" type="button" value="Adm - Login"></a></li>
        <% }else{ %>
          <li><a href="/comissionaires/dashboard"><input class="headerButtons" type="button" value="Adm - Dashboard"></a></li>
        <% } %>

        <% if(!clientCpf){ %>
          <li><a href="/clientes/login"><input class="headerButtons" type="button" value="Cliente - Login"></a></li>
        <% }else{ %>
          <li><a href="/clientes/dashboard"><input class="headerButtons" type="button" value="Cliente - Dashboard"></a></li>
        <% } %>

      </ul>
    </nav>
  </header>

  <main class="homeBody">
      <% if(clientCpf) { %>
      <a href="/clientes/fazerpedido"><input id="orderButton" type="button" value="Realizar Pedido"></a>
      <% } %>
  </main>

</body>