<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Login</title>
</head>
<body>
  <section class="userLoginBox">
    <div class="userLoginBody">
      <form class="userLoginForm" action="/clientes/auth" method="post">
        <input type="text" name="userCPF", id="userCpf" placeholder=" CPF">
        <br>
        <input type="password" name="userPASSWORD" id="userPass" placeholder=" Senha">
        <br>
        <input id="userLoginButton" type="submit" value="Login">
        <br>
        <a href="/cadastro">cadastre-se</a>
        
      </form>
    </div>
  </section>
</section>
</body>
</html>