<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <main class="cadastro"> 
    <section class="container_box">
      <form method="post" action=" colocar rota correta">
          <div class="txt_input">
          <input type="email" name="email" id="email" placeholder="email">
          <label for="email"></label>

          <input type="password" name="senha" id="senha" placeholder="senha">
          <label for="senha"></label>
          </div>
          
          <div class="btn_input">
            <input type="submit" value="Login" id="login">
             <input type="button" value="Cadastrar" id="cadastrar" onclick="cadastrar()">
          </div>
      </form>
    </main>  
</section>
</body>
</html>