<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <title>Produtos</title>
</head>
<body id="productsBody">
  <header class="homeHeader">
    <nav>
      <ul class="navbarLinks">

        <li><a href="/produtos/list"><input class="headerButtons" type="button" value="Voltar"></a></li>
        <li><a href="/comissionaires/logout"><input class="headerButtons" type="button" value="Logout"></a></li>

      </ul>
    </nav>
  </header>


  <main class="productFormBox">
    <div class="productFormBody">
      <form action="/produtos/edit/<%= product.id_products %>" method="post">
        <input type="text" value="<%= product.product %>" name="product", class="productForm" placeholder=" Nome" required>
        <br>
        <input type="number" value="<%= product.price %>" step="any" name="price" class="productForm" placeholder=" Preço" required>
        <br>
        <% if(product.unity == 'l'){ %>
          <p><select name="unity" id="selectUnity">
            <option value="l" selected> Litro</option>
            <option value="kg"> Kilograma</option>
          </select></p>
          <% }else { %>
          <p><select name="unity" id="selectUnity">
            <option value="l"> Litro</option>
            <option value="kg" selected> Kilograma</option>
          </select></p>
          <% } %>
        <br>
        <input id="userLoginButton" type="submit" value="Editar">
        <br>
        <a href="delete/<%= product.id_products %>"><input id="userLoginButton" type="button" value="Deletar"></a>
      </form>
    </div>
  </main>

</body>